
SIstemas Operacionais/PPOS/build/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/__pycache__/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/chips_bag/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/juice_box/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/metal_can/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/paper_ball/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/plastic_bottle/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/test/plastic_cup/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/train/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/dataset/validation/

Oficina de Integracao III/SmartRecycler_NeuralNetwork/models/

Oficina de Integracao III/Technical Report/SmartRecycler.aux

Oficina de Integracao III/Technical Report/SmartRecycler.bbl

Oficina de Integracao III/Technical Report/SmartRecycler.blg

Oficina de Integracao III/Technical Report/SmartRecycler.fdb_latexmk

Oficina de Integracao III/Technical Report/SmartRecycler.fls

Oficina de Integracao III/Technical Report/SmartRecycler.log

Oficina de Integracao III/Technical Report/SmartRecycler.out

Oficina de Integracao III/Technical Report/SmartRecycler.synctex.gz

Oficina de Integracao III/Inference/__pycache__/

Oficina de Integracao III/Inference/dataset/

Oficina de Integracao III/Backend/__pycache__/

Oficina de Integracao III/Backend/src/__pycache__/

Oficina de Integracao III/Firmware/ESP32-CAM/build/

Sistemas Embarcados/Elevador/build/

Sistemas Embarcados/Lab 1/build/

Sistemas Embarcados/Lab 2/build/

Sistemas Embarcados/Lab 4/build/

Sistemas Embarcados/Lab 5/build/

Sistemas Embarcados/Lab 6/build/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet/obj/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet_bsp/obj/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet_bsp/UCOSII/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet_bsp/iniche/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet_bsp/HAL/

Logica Reconfiguravel/SemaforoNet/software/SemaforoNet_bsp/drivers/

Logica Reconfiguravel/SemaforoNet/software/.metadata/

Redes de Computadores/ChatRoom/

Sistemas Distribuidos/RabbitMQ/RabbitMQ/bin/

Sistemas Distribuidos/RabbitMQ/RabbitMQ/obj/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Consumer/bin/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Consumer/obj/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Producer/bin/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Producer/obj/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Setup/bin/

Sistemas Distribuidos/RabbitMQ/RabbitMQ.Setup/obj/

Sistemas Distribuidos/RabbitMQ/Product/

Sistemas Distribuidos/RabbitMQ/Consumer/bin/

Sistemas Distribuidos/RabbitMQ/Consumer/obj/

Sistemas Distribuidos/RabbitMQ/Producer/bin/

Sistemas Distribuidos/RabbitMQ/Producer/obj/

Sistemas Distribuidos/RabbitMQ/Setup/bin/

Sistemas Distribuidos/RabbitMQ/Setup/obj/

Sistemas Distribuidos/auction/__pycache__/

Sistemas Distribuidos/auction-web-service/AuctionWebService/AuctionWebService/bin/

Sistemas Distribuidos/auction-web-service/AuctionWebService/AuctionWebService/obj/
/Sistemas Distribuidos/auction-web-service/AuctionClient/__pycache__
/Sistemas Distribuidos/auction-web-service/AuctionClient/.idea
/Sistemas Distribuidos/auction/.idea
